.parent{
    background-color: #eee;
    width: 1000px;
    margin: 10px auto;
}
.clear{
    clear: both;
}
.parent div{
    margin-top:15px;
    font-weight: bold;
    margin-bottom: 15px;
    float:left;
    background-color: #aaa;
    text-align: center;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.full{
    width:calc((100% - 30px)/1);
}
.three{
 width:calc( (100% - 60px)/3);
}
.two{
    width:calc( (100% - 45px)/2);
}
.four{
    width:calc( (100% - 75px)/4);
}