*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
div::after{
    content: "Elzero";
    width:132% ;
    padding: 5px;
    color: #fff;
    height: 100%;
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;
    z-index: -10;
    align-items: end;
    justify-content: flex-start;
    transform: rotate(-45deg);
    border-bottom: solid 5px #000;
    background-color: #607d8b;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
div{
    font-size: 1.5rem;
    margin: 50px auto;
    border: 4px solid #fff;
    width: 200px;
    position: relative;
    height: 200px;
    background-color:#000;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

